.main {
  background-color: var(--spice-main);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  padding: 30px;
}

.code {
  font-family: monospace;
  color: var(--spice-subtext);
  background-color: var(--spice-card);
  border-radius: 5px;
  padding: 0 3px;
  margin: 3px;
}